<h1>Repair Bill Show</h1>
Brand: <%= @repair_bill.brand %>
Model: <%= @repair_bill.model %>
Year: <%= @repair_bill.year %>
Style: <%= @repair_bill.style %>
Acoustic: <%= @repair_bill.acoustic %>
Electric: <%= @repair_bill.electric %>