<h1><%= @repair_bill.year %> <%= @repair_bill.brand %> <%= @repair_bill.model %></h1>
<b>Brand:</b> <%= @repair_bill.brand %><br>
<b>Model:</b> <%= @repair_bill.model %><br>
<b>Year:</b> <%= @repair_bill.year %><br>
<b>Style:</b> <%= @repair_bill.style %><br>
<b>Acoustic:</b> <%= @repair_bill.acoustic %><br>
<b>Electric:</b> <%= @repair_bill.electric %><br>
<b>Reason for Repair:</b> <%= @repair_bill.reason_for_repair %><br>
<br>
<br>
<%= button_to "Edit_Repair_Bill", edit_repair_bill_path(@repair_bill.id) %> ~ or ~ <%= button_to "Delete Repair Bill", repair_bill_path(@repair_bill.id), method: 'delete' %>