<h1><%= @repair_bill.year %> <%= @repair_bill.brand %> <%= @repair_bill.model %></h1>
<b>Brand:</b> <%= @repair_bill.brand %><br>
<b>Model:</b> <%= @repair_bill.model %><br>
<b>Year:</b> <%= @repair_bill.year %><br>
<b>Style:</b> <%= @repair_bill.style %><br>
<b>Acoustic:</b> <%= @repair_bill.acoustic %><br>
<b>Electric:</b> <%= @repair_bill.electric %><br>