<h1>Log In</h1>
<%= form_with(url: '/login') do |t| %>
    <%= t.label :username, "Username:" %>
    <%= t.text_field :username %><br><br>
    <%= t.label :email, "Email:" %>
    <%= t.text_field :email %><br><br>
    <%= t.label :password_digest, "Password:" %>
    <%= t.password_field :password_digest %><br><br>
    <%= t.submit "Log In" %>
<% end %>
<br>
<%= button_to("Log In With Google", '/auth/google_oauth2') %>