<h1>Log In</h1>
<%= form_with(url: '/login') do |t| %>
    <%= t.label :username, "Username:" %>
    <%= t.text_field :username %><br><br>
    <%= t.label :email, "Email:" %>
    <%= t.text_field :email %><br><br>
    <%= t.label :password, "Password:" %>
    <%= t.password_field :password %><br><br>
    <%= t.submit "Log In" %><br>
   

<% end %>