<h1>New Review for: <%= @technician.name %></h1>

<%= form_for(@review) do |f| %>
    <%= f.hidden_field :technician_id, :value => @technician.id %>
    <%= f.text_area :content %><br><br>
    <%= f.submit "Submit Review" %>
<% end %>