<!DOCTYPE html>
<html>
  <head>
    <title>GuitarsFixed</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <%= yield %>
    <br>
    <%= button_to("All Repair Bills", repair_bills_path, method: :get) %><br>
    <%= link_to ("Log Out"), '/logout', method: 'delete' %>
    <% if flash[:message] %>
      <div class="field_with_errors"><%= flash[:message] %>
    <% end %>
  </body>

 
  
  
</html>
