<!DOCTYPE html>
<html>
  <head>
    <title>GuitarsFixed</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <%= yield %>
    <br>
    <%= button_to("View All/ Create New Repair Bill", repair_bills_path, method: :get) %><br>
  </body>

 
  
  
</html>
