<!DOCTYPE html>
<html>
  <head>
    <title>GuitarsFixed</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
  <header class="navbar  navbar-inverse">
    <div class="navbar-class">
      <div class="container">

    <ul class="nav navbar-nav">
    <br>
    <%= button_to ("Log In"), '/login', method: :get %>
    <%= button_to ("Log Out"), '/logout', method: 'delete' %>
    <%= button_to("Log In With Google", '/auth/google_oauth2') %>
    <%= button_to("Create Account", new_user_path, method: :get) %><br>
    <%= button_to("My Repair Bills", repair_bills_path, method: :get) %>
    <%= button_to("View All Technicians", '/technicians', method: :get) %><br>
    <%= button_to "Create New Repair Bill", new_repair_bill_path, method: 'get' %>
     
    <% if flash[:message] %>
      <div class="field_with_errors"><%= flash[:message] %>
    <% end %>
    </ul>


    </div>
    </div>
  </header>

    <%= yield %>
    <br>
    <hr>
    
   
  </body>

  

 
  
  
</html>
