<!DOCTYPE html>
<html>
  <head>
    <title>GuitarsFixed</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
  <header class="navbar  navbar-inverse">
    <div class="navbar-class">
      <div class="container">
      <%= image_tag("/assets/guit_logo.png", width: '150px') %>
    <br>
    <% if !current_user %>
      <%= button_to ("Log In"), '/login', method: :get %>
    <% end %>
    
    <% if current_user %>
      <%= button_to ("Log Out"), '/logout', method: 'delete' %>
    <% end %>
    
    <% if !current_user %>
      <%= button_to("Log In With Google", '/auth/google_oauth2') %>
    <% end %>
   
    <% if !current_user %>
      <%= button_to("Create Account", new_user_path, method: :get) %><br>
    <% end %>
    
    <% if current_user %>
      <%= button_to("My Repair Bills", repair_bills_path, method: :get) %>
    <% end %>
    
    <% if current_user %>
      <%= button_to("View All Technicians", '/technicians', method: :get) %><br>
    <% end %>

    <% if current_user %>
      <%= button_to "Create New Repair Bill", new_repair_bill_path, method: 'get' %>
    <% end %>

    <% if current_user %>
      <%= button_to("Top Performing Technician", '/technicians/top_tech', method: 'get') %>
    <% end %>

    <% if logged_in? %>
    <small><i>Logged is as: <%= link_to(current_user.username, '/users/:id') %></i></small>
    <% end %>

    <% if flash[:message] %>
      <div class="field_with_errors"><%= flash[:message] %>
    <% end %>

    

    </div>
    </div>
  </header>

    <%= yield %>
    <hr>
    
   
  </body>

  

 
  
  
</html>
